
projects/01_HelloSDL/.vs
projects/01_HelloSDL/x64
projects/01_HelloSDL/HelloSDL/x64
projects/01_HelloSDL/HelloSDL/Debug
projects/01_HelloSDL/Debug
projects/02_LoadImage/.vs
projects/02_LoadImage/x64
projects/02_LoadImage/SDLGame/Debug
projects/02_LoadImage/SDLGame/x64
projects/03_Events/.vs
projects/03_Events/x64
projects/03_Events/SDLGame/Debug
projects/03_Events/SDLGame/x64
projects/04_KeyPress/.vs
projects/04_KeyPress/x64
projects/04_KeyPress/SDLGame/Debug
projects/04_KeyPress/SDLGame/x64
